.ysl-card {
  width: 22rem;
}

.horizontal-card {
  width: 24rem;
}

.card-higher {
  margin-top: -22rem;
}

.card-lower {
  margin-top: 6rem;
}

.img-radius {
  border-radius: 3px;
}

.card-title {
  margin-top: 15px;
  font-size: 23px;
  font-family: 'Playfair Display', serif;
}

.card-title-s {
  margin-top: 4px;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
}

.card-title-xs {
  margin-top: 4px;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Playfair Display', serif;
}

.contact-title {
  margin-top: 4px;
  font-size: 12px;
  font-family: 'Playfair Display', serif;
}

.contact-icon {
  width: 16rem;
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: none;
}