.ysl-card {
  width: 22rem;
}

.main-title {
  font-weight: bold;
  font-size: 32px;
  font-family: "Playfair Display", serif;
}

.horizontal-card {
  width: 24rem;
}

.card-higher {
  margin-top: -22rem;
}

.card-lower {
  margin-top: 6rem;
}

.img-radius {
  border-radius: 3px;
}

.card-title {
  margin-top: 15px;
  font-size: 23px;
  font-family: "Playfair Display", serif;
}

.card-title-s {
  margin-top: 4px;
  font-weight: bold;
  font-size: 18px;
  font-family: "Playfair Display", serif;
}

.card-title-xs {
  margin-top: 4px;
  font-weight: bold;
  font-size: 14px;
  font-family: "Playfair Display", serif;
}

.contact-title {
  margin-top: 4px;
  font-size: 12px;
  font-family: "Playfair Display", serif;
}

.contact-icon {
  width: 16rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.text-underline-hover {
  text-decoration: none;
  color: inherit;
}

.text-underline-hover:hover {
  text-decoration: none;
  color: inherit;
}

.project-container {
  display: flex;
  flex-direction: row;
  padding: 5rem;
  justify-content: space-between;
  background-color: #00806d;
}

.detail-header {
  font-size: 48px;
  color: white;
  margin-right: 24rem;
  font-family: "Playfair Display", serif;
}

.detail-main-content {
  font-size: 26px;
  color: white;
  font-family: "Playfair Display", serif;
}

.project-card-lg {
  background-color: #ddd9d7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58rem;
  padding: 5rem;
}

.detail-container {
  display: flex;
  flex-direction: row;
  padding: 5rem;
  justify-content: space-between;
}

.project-card {
  background-color: #ddd9d7;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32rem;
  padding: 5rem;
}

.detail-container {
  margin: 0 3rem 3rem 3rem;
}

.detail-img {
  width: 14rem;
}

.detail-content {
  font-size: 24px;
  font-family: "Playfair Display", serif;
}

a {
  cursor: url("https://assets.moveshanghai.com/hovericon.png"), auto;
}
